<h1>Editing article</h1>

<%= turbo_frame_tag dom_id(@article) do %>
  <%= render "form", article: @article %>
<% end %>

<br>

<div>
  <%= link_to "Show this article", @article %> |
  <%= link_to "Back to articles", articles_path %>
</div>
